*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../Assets/background.jpg');
}

header {
    display: flex;
    flex-direction: column;
}

hr {
    border: none;
    height: 5px;
}

img {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 1000px;
}

h1 {
    text-align: center;
    border-style: solid;
    font-size: 30px;
    background-color: gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

h1:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.Caixa {
    color: black;
    text-align: center;
    background-color: red;
    width: 200px;
    height: 100px;
    transition: 0.3s;
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokebola {
    height: 25px;
    width: 25px;
}

.Caixa:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.girar {
    width: 100px;
    height: 100px;
    animation: gira360 4s linear infinite;
    
    position: fixed; 
    
    bottom: 10px;
    right: 10px;
}

@keyframes gira360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
    display: block;
    width: 200px;
}

.Box {
    font-size: 13px;
    border-style: solid;
    height: 100px;
    width: 400px;
    background-color: grey;
    padding-left: 2px;
}